<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>TOP AUTO</title>
    <meta name="description" content="TOP AUTO">
    <link rel="shortcut icon" href="/img/favicon.png?v=3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/preload.min.css">
    <link rel="stylesheet" href="/css/plugins.min.css">
    <link rel="stylesheet" href="/css/style.light-blue-500.min.css">
    <link
        rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
      <!-- my style -->
      <link
        rel="stylesheet" href="/css/site.css">
        <!--[if lt IE 9]>
          <script src="/assets/js/html5shiv.min.js"></script>
          <script src="/assets/js/respond.min.js"></script>
        <![endif]-->
      </head>
      <body>
        <div id="ms-preload" class="ms-preload">
          <div id="status">
            <div class="spinner">
              <div class="dot1"></div>
              <div class="dot2"></div>
            </div>
          </div>
        </div>
        <div class="ms-site-container">
          <%== renderPartial("login_modal") %>
          <%== renderPartial("header") %>
          <%== renderPartial("nav") %>
          <%== renderPartial("carousel") %>
          <%== yield() %>
          <%== renderPartial("footer") %>
        </div>
        <%== renderPartial("sidebar") %>
        <script src="/js/plugins.min.js"></script>
        <script src="/js/app.min.js"></script>
        
        <script src="/js/bootstrap-datepicker.min.js"></script>
        <script src="/js/site.js"></script>
        <script src="https://cdn.tiny.cloud/1/5p05qo54lyn29kp9xl07k0wj4wmus2v19rqu1yzgr8tws71c/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
      </body>
    </html>
