<%#include "vehicle.h" %>
<% tfetch(QList<Vehicle>, vehicleList) %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%== renderPartial("vehicle_filter") %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-globe"></i>
            Vehicles
          </h3>
        </div>
        <div class="panel-body">
          <%== renderPartial("flash") %>
          <div class="row color-dark">
            <% for (const auto &i : vehicleList) { %>
              <div class="col-md-4 mix laptop apple" data-price="1999.99" data-date="20160901">
                <div class="card wow zoomInUp" style="visibility: visible; animation-name: zoomInUp;">
                  <div class="card-body overflow-hidden text-center">
                    <a href="/admin/vehicle/save/<%=i.id()%>">
                      <img src="<%== i.getFirstPhoto() %>" alt="" class="img-fluid center-block"></a>
                    <h4 class="text-normal text-center"><%= i.getModel().name() %></h4>
                    <p><%= i.title() %></p>
                    <div class="mt-2">
                      <span class="mr-2">
                        <i class="zmdi zmdi-star color-warning"></i>
                        <i class="zmdi zmdi-star color-warning"></i>
                        <i class="zmdi zmdi-star color-warning"></i>
                        <i class="zmdi zmdi-star color-warning"></i>
                        <i class="zmdi zmdi-star"></i>
                      </span>

                      <% if (i.inventoryStatus() == "SOLD") { %>
                      <span class="ms-tag ms-tag-danger">
                        SOLD
                      </span>
                      <% } else { %>
                      <span class="ms-tag ms-tag-success">$
                        <%== i.price() %>
                      </span>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
