<!DOCTYPE html>
<%#include "vehiclemodel.h" %>
<% tfetch(VehicleModel, vehicleModel); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Vehicle Model</h1>
<dt>ID</dt><dd><%= vehicleModel.id() %></dd><br />
<dt>Name</dt><dd><%= vehicleModel.name() %></dd><br />
<dt>Logo</dt><dd><%= vehicleModel.logo() %></dd><br />
<dt>Created at</dt><dd><%= vehicleModel.createdAt() %></dd><br />
<dt>Updated at</dt><dd><%= vehicleModel.updatedAt() %></dd><br />

<%== linkTo("Edit", urla("save", vehicleModel.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
