<!DOCTYPE html>
<%#include "make.h" %>
<% tfetch(Make, make); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Make</h1>
<dt>ID</dt><dd><%= make.id() %></dd><br />
<dt>Name</dt><dd><%= make.name() %></dd><br />
<dt>Logo</dt><dd><%= make.logo() %></dd><br />
<dt>Created at</dt><dd><%= make.createdAt() %></dd><br />
<dt>Updated at</dt><dd><%= make.updatedAt() %></dd><br />

<%== linkTo("Edit", urla("save", make.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
