<!DOCTYPE html>
<%#include "newsgallery.h" %>
<% tfetch(NewsGallery, newsGallery); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing News Gallery</h1>
<dt>ID</dt><dd><%= newsGallery.id() %></dd><br />
<dt>Image</dt><dd><%= newsGallery.image() %></dd><br />
<dt>Status</dt><dd><%= newsGallery.status() %></dd><br />
<dt>Created at</dt><dd><%= newsGallery.createdAt() %></dd><br />
<dt>Updated at</dt><dd><%= newsGallery.updatedAt() %></dd><br />

<%== linkTo("Edit", urla("save", newsGallery.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
